
.animation_fleche{-webkit-animation: keyframes_fleche 2s linear infinite}
@-webkit-keyframes keyframes_fleche
{
0%  {background:url(../images/fleche/1.png) no-repeat 0 0;background-size: 100%;}
25% {background:url(../images/fleche/2.png) no-repeat 0 0;background-size: 100%;}
50% {background:url(../images/fleche/3.png) no-repeat 0 0;background-size: 100%;}
75% {background:url(../images/fleche/4.png) no-repeat 0 0;background-size: 100%;}
100%{background:url(../images/fleche/5.png) no-repeat 0 0;background-size: 100%;}
/*0%  {background-position:!0 0;}
25% {background-position:!25% 0;}
50% {background-position:!50% 0;}
75% {background-position:!75% 0;}
100%{background-position:!100% 0;}*/
}

.animation_playing{-webkit-animation: keyframes_playing 3s linear infinite}
@-webkit-keyframes keyframes_playing
{
0%  {background:url(../images/playing/1.png) no-repeat 0 0;background-size: 100%;}
20% {background:url(../images/playing/2.png) no-repeat 0 0;background-size: 100%;}
40% {background:url(../images/playing/3.png) no-repeat 0 0;background-size: 100%;}
60% {background:url(../images/playing/4.png) no-repeat 0 0;background-size: 100%;}
80% {background:url(../images/playing/5.png) no-repeat 0 0;background-size: 100%;}
100%{background:url(../images/playing/6.png) no-repeat 0 0;background-size: 100%;}
}

.animation_party{
	/*-webkit-animation: shake-slow 4s linear infinite*/
	-webkit-animation: shake-rotate 3s linear infinite
}

/*http://elrumordelaluz.github.io/csshake/#1*/
@-webkit-keyframes shake-slow{
0%{-webkit-transform:translate(0,0) rotate(0)}
2%{-webkit-transform:translate(-1px,8px) rotate(1.5deg)}
4%{-webkit-transform:translate(7px,0) rotate(-.5deg)}
6%{-webkit-transform:translate(8px,8px) rotate(-3.5deg)}
8%{-webkit-transform:translate(-4px,-3px) rotate(-1.5deg)}
10%{-webkit-transform:translate(5px,0) rotate(-2.5deg)}
12%{-webkit-transform:translate(-10px,-3px) rotate(-3.5deg)}
14%{-webkit-transform:translate(5px,7px) rotate(2.5deg)}
16%{-webkit-transform:translate(8px,-8px) rotate(-1.5deg)}
18%{-webkit-transform:translate(9px,-6px) rotate(-3.5deg)}
20%{-webkit-transform:translate(3px,1px) rotate(-.5deg)}
22%{-webkit-transform:translate(6px,8px) rotate(-2.5deg)}
24%{-webkit-transform:translate(-8px,-1px) rotate(2.5deg)}
26%{-webkit-transform:translate(7px,-10px) rotate(.5deg)}
28%{-webkit-transform:translate(7px,-4px) rotate(-3.5deg)}
30%{-webkit-transform:translate(-2px,-6px) rotate(-1.5deg)}
32%{-webkit-transform:translate(-1px,0) rotate(2.5deg)}
34%{-webkit-transform:translate(6px,2px) rotate(-.5deg)}
36%{-webkit-transform:translate(2px,7px) rotate(1.5deg)}
38%{-webkit-transform:translate(2px,-9px) rotate(1.5deg)}
40%{-webkit-transform:translate(-5px,-1px) rotate(-.5deg)}
42%{-webkit-transform:translate(-8px,2px) rotate(-.5deg)}
44%{-webkit-transform:translate(-4px,3px) rotate(.5deg)}
46%{-webkit-transform:translate(-10px,-2px) rotate(-.5deg)}
48%{-webkit-transform:translate(1px,9px) rotate(1.5deg)}
50%{-webkit-transform:translate(6px,7px) rotate(1.5deg)}
52%{-webkit-transform:translate(-8px,4px) rotate(.5deg)}
54%{-webkit-transform:translate(6px,-8px) rotate(-2.5deg)}
56%{-webkit-transform:translate(2px,-9px) rotate(-2.5deg)}
58%{-webkit-transform:translate(-2px,-9px) rotate(.5deg)}
60%{-webkit-transform:translate(2px,7px) rotate(-.5deg)}
62%{-webkit-transform:translate(0,0) rotate(-1.5deg)}
64%{-webkit-transform:translate(-9px,-4px) rotate(-3.5deg)}
66%{-webkit-transform:translate(6px,-6px) rotate(.5deg)}
68%{-webkit-transform:translate(0,-7px) rotate(-2.5deg)}
70%{-webkit-transform:translate(-10px,1px) rotate(1.5deg)}
72%{-webkit-transform:translate(-7px,9px) rotate(2.5deg)}
74%{-webkit-transform:translate(2px,-6px) rotate(-.5deg)}
76%{-webkit-transform:translate(5px,1px) rotate(-.5deg)}
78%{-webkit-transform:translate(-1px,5px) rotate(2.5deg)}
80%{-webkit-transform:translate(3px,7px) rotate(2.5deg)}
82%{-webkit-transform:translate(-6px,-7px) rotate(-.5deg)}
84%{-webkit-transform:translate(-8px,8px) rotate(-2.5deg)}
86%{-webkit-transform:translate(8px,3px) rotate(-2.5deg)}
88%{-webkit-transform:translate(-8px,3px) rotate(-1.5deg)}
90%{-webkit-transform:translate(-7px,-4px) rotate(-3.5deg)}
92%{-webkit-transform:translate(-8px,4px) rotate(2.5deg)}
94%{-webkit-transform:translate(-6px,-6px) rotate(-3.5deg)}
96%{-webkit-transform:translate(-3px,2px) rotate(-3.5deg)}
98%{-webkit-transform:translate(2px,1px) rotate(-.5deg)}
}
@-webkit-keyframes shake-rotate{
0%{-webkit-transform:translate(0,0) rotate(0)}
2%{-webkit-transform:translate(0,0) rotate(-5.5deg)}
4%{-webkit-transform:translate(0,0) rotate(1.5deg)}
6%{-webkit-transform:translate(0,0) rotate(-7.5deg)}
8%{-webkit-transform:translate(0,0) rotate(-7.5deg)}
10%{-webkit-transform:translate(0,0) rotate(-.5deg)}
12%{-webkit-transform:translate(0,0) rotate(-5.5deg)}
14%{-webkit-transform:translate(0,0) rotate(-4.5deg)}
16%{-webkit-transform:translate(0,0) rotate(.5deg)}
18%{-webkit-transform:translate(0,0) rotate(3.5deg)}
20%{-webkit-transform:translate(0,0) rotate(-6.5deg)}
22%{-webkit-transform:translate(0,0) rotate(-5.5deg)}
24%{-webkit-transform:translate(0,0) rotate(3.5deg)}
26%{-webkit-transform:translate(0,0) rotate(-.5deg)}
28%{-webkit-transform:translate(0,0) rotate(-.5deg)}
30%{-webkit-transform:translate(0,0) rotate(5.5deg)}
32%{-webkit-transform:translate(0,0) rotate(3.5deg)}
34%{-webkit-transform:translate(0,0) rotate(-5.5deg)}
36%{-webkit-transform:translate(0,0) rotate(-.5deg)}
38%{-webkit-transform:translate(0,0) rotate(-1.5deg)}
40%{-webkit-transform:translate(0,0) rotate(4.5deg)}
42%{-webkit-transform:translate(0,0) rotate(6.5deg)}
44%{-webkit-transform:translate(0,0) rotate(.5deg)}
46%{-webkit-transform:translate(0,0) rotate(4.5deg)}
48%{-webkit-transform:translate(0,0) rotate(-.5deg)}
50%{-webkit-transform:translate(0,0) rotate(.5deg)}
52%{-webkit-transform:translate(0,0) rotate(-7.5deg)}
54%{-webkit-transform:translate(0,0) rotate(-1.5deg)}
56%{-webkit-transform:translate(0,0) rotate(.5deg)}
58%{-webkit-transform:translate(0,0) rotate(6.5deg)}
60%{-webkit-transform:translate(0,0) rotate(-3.5deg)}
62%{-webkit-transform:translate(0,0) rotate(-6.5deg)}
64%{-webkit-transform:translate(0,0) rotate(1.5deg)}
66%{-webkit-transform:translate(0,0) rotate(-.5deg)}
68%{-webkit-transform:translate(0,0) rotate(2.5deg)}
70%{-webkit-transform:translate(0,0) rotate(-4.5deg)}
72%{-webkit-transform:translate(0,0) rotate(-1.5deg)}
74%{-webkit-transform:translate(0,0) rotate(-6.5deg)}
76%{-webkit-transform:translate(0,0) rotate(3.5deg)}
78%{-webkit-transform:translate(0,0) rotate(-5.5deg)}
80%{-webkit-transform:translate(0,0) rotate(1.5deg)}
82%{-webkit-transform:translate(0,0) rotate(4.5deg)}
84%{-webkit-transform:translate(0,0) rotate(-1.5deg)}
86%{-webkit-transform:translate(0,0) rotate(-2.5deg)}
88%{-webkit-transform:translate(0,0) rotate(-3.5deg)}
90%{-webkit-transform:translate(0,0) rotate(-.5deg)}
92%{-webkit-transform:translate(0,0) rotate(-.5deg)}
94%{-webkit-transform:translate(0,0) rotate(-6.5deg)}
96%{-webkit-transform:translate(0,0) rotate(-7.5deg)}
98%{-webkit-transform:translate(0,0) rotate(6.5deg)}
}
