<title>Anna Sui Backend</title>
<?php include 'views/admin/menu.html';?>

<div class="container-fluid">
	<div class="row-fluid">
		<div class="span12">
			<form class="form-search" action="<?php echo APP_URL;?>backend.php" method="get">
				<label class="control-label" for="keys">Keys</label>
				<input id="keys" class="input-xlarge" type="text" name="keys" placeholder="Openid / Form name / Mobile" value="<?php if(isset($keys)){echo $keys;}?>" />
				<button type="submit" class="btn">Search</button>
				<button type="button" class="btn btn-success btn-export">Export</button>
			</form>
			
			<table class="table table-condensed table-hover">
				<thead>
					<tr>
						<th>No.</th>
						<th>Openid</th>
						<th>Play times</th>
						<th>Collects</th>
						<th>Form name</th>
						<th>Mobile</th>
						<th>Post Date</th>
						<th>To CRM</th>
					</tr>
				</thead>
				<tbody>
					<?php
						if(isset($list) && count($list) > 0){
					?>
					<?php
						$i = 0;
						foreach ( $list as $key => $value ) {
						$i ++;
					?>
					<tr>
						<td><?php echo $i;?></td>
						<td><?php echo $value['openid'];?></td>
						<td><?php echo $value['pnumber'];?></td>
						<td>
							<a id="modal-<?php echo $value['uid'];?>" href="#modal-container-viewCodes" data-toggle="modal" class="view-codes" data-uid="<?php echo $value['uid'];?>" data-openid="<?php echo $value['openid'];?>" data-name="<?php echo $value['name'];?>" style="text-decoration:underline;">Click to view</a>
						</td>
						<td><?php echo $value['name'];?></td>
						<td><?php echo $value['phone'];?></td>
						<td><?php echo $value['postdate'];?></td>
						<td><?php if(isset($value['status']) && intval($value['status']) == 99){echo 'T';}else{echo 'F';}?></td>
					</tr>
					<?php
						}
						}else{
					?>
					<tr>
						<td colspan="8">No query to data.</td>
					</tr>
					<?php
						}
					?>
				</tbody>
				<thead>
					<tr>
						<th colspan="8">
							<div class="pagination pagination-small">
								<ul>
									<li><a href="<?php echo APP_URL;?>backend.php?page=<?php echo $page-1;?>">previous</a></li>
									<li><a href="javascript:void(0);"><?php echo $page;?>/<?php echo $pagenum;?></a></li>
									<li><a href="<?php echo APP_URL;?>backend.php?page=<?php $pages = $page == $pagenum ? $pagenum : $page+1; echo $pages;?>">next</a></li>
									<li><a href="javascript:void(0);">Total: <?php echo $total;?></a></li>
								</ul>
							</div>
						</th>
					</tr>
				</thead>
			</table>
		</div>
	</div>
</div>

<div id="modal-container-viewCodes" class="modal hide fade" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
	<div class="modal-header">
		<button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
		<h3 id="myModalLabel"></h3>
	</div>
	<div class="modal-body" id="myModalBody">
		<table class="table table-condensed table-bordered table-hover">
			<thead>
				<tr>
					<th>No.</th>
					<th>Id</th>
					<th>Seconds</th>
					<th>Time</th>
				</tr>
			</thead>
			<tbody id="myModalTbody">
				<tr class="info">
					<td colspan="5">数据加载中...</td>
				</tr>
			</tbody>
		</table>
	</div>
	<div class="modal-footer">
		 <button class="btn" data-dismiss="modal" aria-hidden="true">关闭</button>
	</div>
</div>