<p></p>
<div class="container-fluid">
	<div class="text-center">
		<small>
		<p>Copyright © 2015&nbsp;&nbsp;v<?php echo VERSION;?></p>
		</small>
	</div>
</div>

<script type="text/javascript" src="<?php echo APP_URL;?>asset/js/jquery2.1.4.min.js"></script>
<script type="text/javascript" src="<?php echo APP_URL;?>asset/js/bootstrap.min.js"></script>
<script type="text/javascript" src="<?php echo APP_URL;?>asset/js/angular.min.js"></script>
<script type="text/javascript">
var APP_URL = '<?php echo APP_URL;?>';
</script>
<script type="text/javascript" src="<?php echo APP_URL;?>asset/js/common.js?v=<?php echo VERSION;?>"></script>
<script type="text/javascript" src="<?php echo APP_URL;?>asset/js<?php echo str_replace('.php','.js',$_SERVER ['PHP_SELF']);?>?v=<?php echo VERSION;?>"></script>

</body>
</html>