<!DOCTYPE html>
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
<meta name="viewport" content="width=device-width,height=device-height, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no" />
<meta http-equiv="Cache-Control" content="no-cache, no-store, must-revalidate" />
<meta http-equiv="Pragma" content="no-cache" />
<meta http-equiv="Expires" content="0" />
<title><?php if(isset($__title)){echo $__title;}?><?php echo WEB_TITLE;?></title>
<link type="text/css" rel="stylesheet" href="<?php echo APP_URL;?>js/vendor/bootcss/css/bootstrap-combined.min.css"/>

<script type="text/javascript" src="<?php echo APP_URL;?>js/vendor/jquery/jquery.min.js"></script>
<script type="text/javascript" src="<?php echo APP_URL;?>js/vendor/bootcss/js/bootstrap.min.js"></script>
<script type="text/javascript" src="<?php echo APP_URL;?>js/vendor/jqueryvalidation/jquery.validate.js"></script>
<script type="text/javascript" src="<?php echo APP_URL;?>js/vendor/jqueryvalidation/messages_zh.js"></script>
<script type="text/javascript" src="<?php echo APP_URL;?>js/vendor/angular/angular.min.js"></script>
<script type="text/javascript">
var APP_URL = '<?php echo APP_URL;?>';
</script>
<script type="text/javascript" src="<?php echo APP_URL;?>js/utils.js?v=<?php echo VERSION;?>"></script>
<script type="text/javascript" src="<?php echo APP_URL;?>js/admin.js?v=<?php echo VERSION;?>"></script>
<script type="text/javascript" src="<?php echo APP_URL;?>js/controller.js?v=<?php echo VERSION;?>"></script>
</head>
<body>