<title>Anna Sui Backend</title>
<?php include 'views/admin/menu.html';?>
<div ng-app="app" ng-controller="controller">
	<div>
		<input type="text" placeholder="查询" ng-model="search.name"/>
	</div>
	
	<div ng-init="loading()">
		<table class="table table-striped">
			<tr>
				<th>ID</th>
				<th>姓名</th>
				<th>手机</th>
				<th>修改时间</th>
				<th>操作</th>
			</tr>
			<tr ng-repeat="pro in profile | filter:search:strict">
				<td>{{pro.id}}</td>
				<td>{{pro.name}}</td>
				<td>{{pro.phone}}</td>
				<td>{{pro.udate}}</td>
				<td><a href="javascript:void(0);" ng-click="update(pro.id)">编辑</a><a href="javascript:void(0);" ng-click="del(pro.id)">删除</a></td>
			</tr>
		</table>
	</div>
	
	<div class="panel panel-primary">
		<div class="panel-heading">{{title || '新增'}}操作界面</div>
		<div class="panel-body">
			<form class="form-horizontal" ng-submit="add()">
				<div class="form-group" ng-show="formData.id" >
					ID:
					<input type="text" class="form-control" name="id" placeholder="姓名" readonly ng-model="formData.id"/>
				</div>
				<div class="form-group">
					姓名：
					<input type="text" class="form-control" name="name" placeholder="姓名" required ng-model="formData.name"/>
				</div>
				<div class="form-group">
					手机：
					<input type="text" class="form-control" name="phone" placeholder="手机" required ng-model="formData.phone"/>
				</div>
				<div class="form-group">
					<button type="submit" class="btn btn-default">{{title || '新增'}}</button>
					<button type="reset" class="btn btn-default" ng-click="clear()">清空</button>
				</div>
			</form>
		</div>
	</div>
</div>