
        <div id="content" class="col-md-10">
            <div class="row">
                <div class="col-md-2">
                    <div class="dropdown" *ngIf="!category">
                        <button class="btn btn-default dropdown-toggle" type="button" id="dropdownMenu" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
                            <i class="fa fa-upload" aria-hidden="true"></i>
                            上传
                            <span class="caret"></span>
                        </button>
                        <ul class="dropdown-menu" aria-labelledby="dropdownMenu">
                            <li><a href="#" class="uploadFile">上传文件</a></li>
                            <li><a href="#">上传文件夹</a></li>
                        </ul>
                    </div>
                </div>
                <div class="col-md-2">
                    <button *ngIf="!category" class="btn btn-default" (click)="showCreate()">
                        <i class="fa fa-folder" aria-hidden="true"></i>
                        新建文件夹</button>
                </div>
                <div class="col-md-offset-6 col-md-2">
                    <button (click)="refresh()">
                        <i class="fa fa-refresh" aria-hidden="true"></i>
                    </button>
                    <button [ngClass]="{'active': isList}" (click)="toggle()">
                        <i class="fa" [ngClass]="{'fa-th-large': isList, 'fa-th-list': !isList}" aria-hidden="true"></i>
                        </button>
                </div>
            </div>
            <div class="row zd_crumb">
                <div class="col-xs-2" *ngIf="crumbs.length > 1">
                    <a href="#" (click)="top()">返回上一级</a> |
                </div>
                <div class="col-xs-10">
                    <ol class="breadcrumb">
                        <li *ngFor="let item of crumbs; let i = index" [ngClass]="{'active': i == crumbs.length - 1}">
                            <a href="#" (click)="level(item)" *ngIf="i < crumbs.length - 1">{{item.name}}</a>
                            <span *ngIf="i == crumbs.length - 1">{{item.name}}</span>
                        </li>
                    </ol>
                </div>
            </div>
            <div class="header">
                <div *ngIf="isList && checkCount <= 0" class="row">
                    <div class="col-md-1">
                        <i class="fa fa-square-o" (click)="checkAll()" aria-hidden="true"></i>
                    </div>
                    <div class="col-md-6" (click)="sort('name')">
                        <span>文件名</span>
                        <i *ngIf="sorter.key == 'name'" class="fa" [ngClass]="{'fa-sort-alpha-asc': sorter.direction > 0, 'fa-sort-alpha-desc': sorter.direction < 0}" aria-hidden="true"></i>
                    </div>
                    <div class="col-md-2" (click)="sort('size')">
                        <span>大小</span>
                        <i *ngIf="sorter.key == 'size'" class="fa" [ngClass]="{'fa-sort-alpha-asc': sorter.direction > 0, 'fa-sort-alpha-desc': sorter.direction < 0}" aria-hidden="true"></i>
                    </div>
                    <div class="col-md-3" (click)="sort('updateTime')">
                        <span>修改时间</span>
                        <i *ngIf="sorter.key == 'updateTime'" class="fa" [ngClass]="{'fa-sort-alpha-asc': sorter.direction > 0, 'fa-sort-alpha-desc': sorter.direction < 0}" aria-hidden="true"></i>
                    </div>
                </div>
                <div *ngIf="!isList && checkCount <= 0" class="row">
                    <div class="col-md-1">
                        <i class="fa fa-square-o" (click)="checkAll()" aria-hidden="true"></i>
                    </div>
                </div>
                <div *ngIf="checkCount > 0" class="row">
                    <div class="col-md-1">
                        <i class="fa" (click)="checkAll()" [ngClass]="{'fa-check-square-o': checkCount == disks.length, 'fa-square': checkCount < disks.length}" aria-hidden="true"></i>
                    </div>
                    <div class="col-md-3" style="font-size: 16px">
                        已选中 {{ checkCount }} 个文件/文件夹
                    </div>
                    <div class="col-md-8">
                        <button (click)="shareAll()" class="btn btn-default">
                            <i aria-hidden="true" class="fa fa-share-alt"></i>
                            分享
                        </button>
                        <button (click)="downloadAll()" class="btn btn-default">
                            <i class="fa fa-download" aria-hidden="true"></i>
                            下载
                        </button>
                        <button (click)="delete()" class="btn btn-default">
                            <i class="fa fa-trash-o" aria-hidden="true"></i>
                            删除
                        </button>
                        <button (click)="moveAll()" class="btn btn-default">
                            <i class="fa fa-files-o" aria-hidden="true"></i>
                            复制到
                        </button>
                        <button (click)="copyAll()" class="btn btn-default">
                            <i class="fa fa-scissors" aria-hidden="true"></i>
                            移动到
                        </button>
                        <button (click)="rename()" class="btn btn-default">
                            <i class="fa fa-pencil" aria-hidden="true"></i>
                            重命名
                        </button>
                    </div>
                </div>
            </div> <!-- END HEADER -->
            <div class="body">
                <div *ngIf="isList" class="zd_list">
                    <div *ngFor="let item of disks, let i = index" class="row">
                        <div class="col-md-1">
                            <i class="fa" [ngClass]="item.checked ? 'fa-check-square-o' : 'fa-square-o'" aria-hidden="true" (click)="check(item)"></i>
                        </div>
                        <div (click)="enter(item)" class="col-md-6">
                            <span [ngClass]="item.type == 1 ? 'fa-file': 'fa-folder'" class="fa" aria-hidden="true"></span>
                            <span>{{item.name}}</span>
                        </div>
                        <div class="col-md-2">
                            <span>{{item.size | size}}</span>
                        </div>
                        <div class="col-md-3">
                            <span>
                                {{item.updateTime | date:'yyyy-mm-dd hh:mm:ss' }}</span>
                            <div class="zd_tool">
                                <i aria-hidden="true" (click)="share(item)" class="fa fa-share-alt"></i>
                                <i class="fa fa-download" (click)="download(item)" aria-hidden="true"></i>
                                <i class="fa fa-scissors" (click)="move(item)" aria-hidden="true"></i>
                                <i class="fa fa-files-o" (click)="copy(item)" aria-hidden="true"></i>
                                <i class="fa fa-pencil" (click)="rename(item)" aria-hidden="true"></i>
                                <i class="fa fa-trash-o" (click)="delete(i)" aria-hidden="true"></i>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div *ngIf="!isList" class="zd_grid">
                <div class="row">
                    <div *ngFor="let item of disks"  class="col-md-2">
                        <div class="zd_icon">
                            <i class="fa" [ngClass]="item.type == 1 ? 'fa-file': 'fa-folder'" aria-hidden="true"></i>
                            <i class="fa" [ngClass]="item.checked ? 'fa-check-square-o' : 'fa-square-o'" aria-hidden="true" (click)="check(item)"></i>
                        </div>
                        <div class="zd_name">
                            <a href="#" (click)="enter(item)">{{item.name}}</a>
                        </div>
                    </div>
                </div>
            </div>

            <div class="loadEffect">
                <span></span>
                <span></span>
                <span></span>
                <span></span>
                <span></span>
                <span></span>
                <span></span>
                <span></span>
            </div>
        </div>

<upload-window></upload-window>

<div class="modal fade" id="createModal" tabindex="-1" role="dialog" aria-labelledby="createModalLabel">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="createModalLabel">{{createTitle}}</h4>
            </div>
            <div class="modal-body">
                <input class="form-control" type="text" [(ngModel)]="file.name" placeholder="文件夹名">
            </div>
            <div class="modal-footer">
                <button type="button" (click)="createSave()" class="create btn btn-primary">确定</button>
                <button type="button" class="btn btn-default" data-dismiss="modal">取消</button>
            </div>
        </div>
    </div>
</div>

<folder-window></folder-window>

<share-window></share-window>
